<!DOCTYPE html>
<html>
<head>
  <title>ModelParams</title>
  <%= stylesheet_link_tag    "model_params/application", media: "all" %>
  <%= javascript_include_tag "model_params/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
